/* Content from https://github.com/primer/codemirror-github-light/blob/master/lib/codemirror-github-light-theme.css */

/* Currently there is no such documentation about what type and token on these classes */

:root {
    /* same as prettylights */
}

.CodeMirror {
  color: var(--color-one-monokai-fg) !important;
}

.CodeMirror-gutters { }

.CodeMirror-guttermarker { }

.CodeMirror-guttermarker-subtle { }

 .CodeMirror-scrollbar-filler,
 .CodeMirror-gutter-filler { }

.CodeMirror-linenumber {
  color: var(--color-one-monokai-fg) !important;
}

.CodeMirror-cursor {
  border-left: 1px solid var(--color-one-monokai-fg) !important;
}

.CodeMirror-focused .CodeMirror-selected,
.CodeMirror-line::selection,
.CodeMirror-line > span::selection,
.CodeMirror-line > span > span::selection {
  background: var(--color-one-monokai-aqua, #d7d4f0) !important;
}

.CodeMirror-line::-moz-selection,
.CodeMirror-line > span::-moz-selection,
.CodeMirror-line > span > span::-moz-selection {
  background: var(--color-one-monokai-aqua, #d7d4f0) !important;
}

.CodeMirror-activeline-background {
  background: var(--one-monokai-dark-gray) !important;
}

 .CodeMirror-matchingbracket {
  font-weight: bold;
  text-decoration: none !important;
  color: var(--color-one-monokai-dark-gray) !important;
}

 .CodeMirror-lines {
     /* style inherited */
 }

.cm-comment {
  color: var(--color-one-monokai-gray) !important;
}

.cm-constant {
  color: var(--color-one-monokai-green) !important;
}

.cm-entity {
  color: var(--color-one-monokai-aqua) !important;
}

.cm-keyword {
  color: var(--color-one-monokai-pink) !important;
}

.cm-storage {
  color: var(--color-codemirror-syntax-storage); // #d73a49;
}

.cm-string {
  color: var(--color-one-monokai-yellow) !important;
}

.cm-support {
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  color: var(--color-codemirror-syntax-support);
}

.cm-variable {
  color: var(--color-one-monokai-fg) !important;
}

.cm-builtin {
    color: var(--color-one-monokai-green);
}

.cm-number {
    color: var(--color-one-monokai-purple) !important;
}

.cm-tag {
    color: var(--color-one-monokai-pink);
}

.cm-attribute {
    color: var(--color-one-monokai-green);
}

.cm-bracket {
    color: var(--color-one-monokai-pink);
}

.cm-image-marker {
    color: var(--color-one-monokai-pink);
}

.cm-link {
    color: var(--color-one-monokai-aqua) !important;
}

.cm-header {
    color: var(--color-one-monokai-yellow) !important;
}

.cm-atom {
    color: var(--color-one-monokai-pink) !important;
}

.cm-property {
    color: var(--color-one-monokai-aqua);
}

.cm-punctuation, .CodeMirror .cm-operator {
    color: var(--color-one-monokai-pink);
}

.cm-meta {
    color: var(--color-one-monokai-pink);
}

.cm-def, .cm-variable-2, .cm-variable-3, .cm-qualifier {
    color: var(--color-one-monokai-green);
}
