/* Content from https://github.com/primer/codemirror-github-light/blob/master/lib/codemirror-github-light-theme.css */

/* Currently there is no such documentation about what type and token on these classes */
:root {
    --color-one-monokai-fg: #abb2bf;
    --color-one-monokai-gray: #676e7b;
    --color-one-monokai-pink: #e06c75;
    --color-one-monokai-green: #98c379;
    --color-one-monokai-cyan: #56b6c2;
    --color-one-monokai-aqua: #61afef;
    --color-one-monokai-yellow: #e5c07b;
    --color-one-monokai-purple: #c678dd;
    --color-one-monokai-orange: #d19a66;
    --color-one-monokai-red: #f75f5f;
    --color-one-monokai-dark-gray: #4b5261;
    --color-one-monokai-white: #d7d7ff;
}

.CodeMirror {
    @apply text-fg #{!important};

    &-linenumber {
        @apply text-fg #{!important};
    }

    &-cursor {
        @apply border-l border-solid border-fg #{!important};
    }

    &-focused &-selected,
    &-line::selection,
    &-line > span::selection,
    &-line > span > span::selection {
        @apply bg-aqua #{!important};
    }

    &-line::-moz-selection,
    &-line > span::-moz-selection,
    &-line > span > span::-moz-selection {
        background: var(--color-one-monokai-aqua, #d7d4f0) !important;
    }

    &-activeline-background {
        background: var(--one-monokai-dark-gray) !important;
    }

    &-matchingbracket {
        font-weight: bold;
        text-decoration: none !important;
        color: var(--color-one-monokai-dark-gray) !important;
    }
}

.cm-comment {
    color: var(--color-one-monokai-gray) !important;
}

.cm-constant {
    color: var(--color-one-monokai-green) !important;
}

.cm-entity {
    color: var(--color-one-monokai-aqua) !important;
}

.cm-keyword {
    color: var(--color-one-monokai-pink) !important;
}

.cm-storage {
    color: var(--color-codemirror-syntax-storage); // #d73a49;
}

.cm-string {
    color: var(--color-one-monokai-yellow) !important;
}

.cm-support {
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    color: var(--color-codemirror-syntax-support);
}

.cm-variable {
    color: var(--color-one-monokai-fg) !important;
}

.cm-builtin {
    color: var(--color-one-monokai-green);
}

.cm-number {
    color: var(--color-one-monokai-purple) !important;
}

.cm-tag {
    color: var(--color-one-monokai-pink);
}

.cm-attribute {
    color: var(--color-one-monokai-green);
}

.cm-bracket {
    color: var(--color-one-monokai-pink);
}

.cm-image-marker {
    color: var(--color-one-monokai-pink);
}

.cm-link {
    color: var(--color-one-monokai-aqua) !important;
}

.cm-header {
    color: var(--color-one-monokai-yellow) !important;
}

.cm-atom {
    color: var(--color-one-monokai-pink) !important;
}

.cm-property {
    color: var(--color-one-monokai-aqua);
}

.cm-punctuation,
.CodeMirror .cm-operator {
    color: var(--color-one-monokai-pink);
}

.cm-meta {
    color: var(--color-one-monokai-pink);
}

.cm-def,
.cm-variable-2,
.cm-variable-3,
.cm-qualifier {
    color: var(--color-one-monokai-green);
}
