/* Content from https://github.com/primer/codemirror-github-light/blob/master/lib/codemirror-github-light-theme.css */

/* Currently there is no such documentation about what type and token on these classes */
[data-color-mode="light"][data-light-theme="dark"],
[data-color-mode="dark"][data-dark-theme="dark"] {
    --color-codemirror-syntax-string: theme(colors.yellow) #{!important};
    --color-codemirror-syntax-keyword: theme(colors.pink) #{!important};
    --color-codemirror-syntax-variable: theme(colors.fg) #{!important};
    --color-codemirror-syntax-storage: theme(colors.pink) #{!important};
    --color-codemirror-syntax-entity: theme(colors.green) #{!important};
    --color-codemirror-syntax-constant: theme(colors.green) #{!important};
    --color-codemirror-syntax-comment: theme(colors.gray) #{!important};
    --color-codemirror-syntax-support: theme(colors.aqua) #{!important};
    --color-codemirror-matchingbracket-text: theme(colors.pink) #{!important};
    --color-codemirror-text: theme(colors.fg) #{!important};
    --color-codemirror-cursor: theme(colors.aqua) #{!important};
}

.cm {
    &-line {
        @apply text-fg #{!important};
    }

    &-comment {
        @apply text-gray #{!important};
    }

    &-constant {
        @apply text-green #{!important};
    }

    &-entity {
        @apply text-aqua #{!important};
    }

    &-keyword {
        @apply text-pink #{!important};
    }

    &-storage {
        @apply text-pink #{!important};
    }

    &-string {
        @apply text-yellow #{!important};
    }

    &-support {
        @apply font-normal not-italic text-[var(--color-codemirror-syntax-support)] no-underline #{!important};
    }

    &-variable {
        @apply text-fg #{!important};
    }

    &-builtin {
        @apply text-green #{!important};
    }

    &-number {
        @apply text-purple #{!important};
    }

    &-tag {
        @apply text-pink #{!important};
    }

    &-attribute {
        @apply text-green #{!important};
    }

    &-bracket {
        @apply text-pink #{!important};
    }

    &-image-marker {
        @apply text-pink #{!important};
    }

    &-link {
        @apply text-aqua #{!important};
    }

    &-header {
        @apply text-yellow #{!important};
    }

    &-atom {
        @apply text-pink #{!important};
    }

    &-property {
        @apply text-aqua #{!important};
    }

    &-punctuation,
    .CodeMirror &-operator {
        @apply text-pink #{!important};
    }

    &-meta {
        @apply text-pink #{!important};
    }

    &-def,
    &-variable-2,
    &-variable-3,
    &-qualifier {
        @apply text-green #{!important};
    }
}
