/* Content from https://github.com/primer/github-syntax-dark/blob/master/lib/github-dark.css */

:root {
    --color-one-monokai-fg: #abb2bf;
    --color-one-monokai-gray: #676e7b;
    --color-one-monokai-pink: #e06c75;
    --color-one-monokai-green: #98c379;
    --color-one-monokai-cyan: #56b6c2;
    --color-one-monokai-aqua: #61afef;
    --color-one-monokai-yellow: #e5c07b;
    --color-one-monokai-purple: #c678dd;
    --color-one-monokai-orange: #d19a66;
    --color-one-monokai-red: #f75f5f;
    --color-one-monokai-dark-gray: #4b5261;
    --color-one-monokai-white: #d7d7ff;
}

[data-color-mode=light][data-light-theme=dark], [data-color-mode=dark][data-dark-theme=dark] {
    --color-fg-default: var(--color-one-monokai-fg) !important;
}

.pl-c /* comment, punctuation.definition.comment, string.comment */ {
  color: var(--color-one-monokai-gray) !important;
}

.pl-c1 /* constant, entity.name.constant, variable.other.constant, variable.language, support, meta.property-name, support.constant, support.variable, meta.module-reference, markup.raw, meta.diff.header, meta.output */,
.pl-s .pl-v /* string variable */ {
  color: var(--color-one-monokai-green) !important;
}

.pl-e /* entity */,
.pl-en /* entity.name */ {
  color: var(--color-one-monokai-green) !important;
}

.pl-smi /* variable.parameter.function, storage.modifier.package, storage.modifier.import, storage.type.java, variable.other */,
.pl-s .pl-s1 /* string source */ {
  color: var(--color-one-monokai-cyan) !important;
}

.pl-s1 {
  color: var(--color-one-monokai-orange);
}

.pl-ent /* entity.name.tag, markup.quote */ {
  color: var(--color-one-monokai-pink) !important;
}

.pl-k /* keyword, storage, storage.type */ {
  color: var(--color-one-monokai-pink) !important;
}

.pl-s /* string */,
.pl-pds /* punctuation.definition.string, source.regexp, string.regexp.character-class */,
.pl-s .pl-pse .pl-s1 /* string punctuation.section.embedded source */,
.pl-sr /* string.regexp */,
.pl-sr .pl-cce /* string.regexp constant.character.escape */,
.pl-sr .pl-sre /* string.regexp source.ruby.embedded */,
.pl-sr .pl-sra /* string.regexp string.regexp.arbitrary-repitition */ {
  color: var(--color-one-monokai-yellow) !important;
}

.pl-v /* variable */,
.pl-smw /* sublimelinter.mark.warning */ {
  color: var(--color-one-monokai-fg) !important;
}

.pl-bu /* invalid.broken, invalid.deprecated, invalid.unimplemented, message.error, brackethighlighter.unmatched, sublimelinter.mark.error */ {
  color: var(--color-one-monokai-red) !important;
}

.pl-ii /* invalid.illegal */ {
  color: var(--color-one-monokai-white) !important;
  background-color: var(--color-one-monokai-red) !important;
}

.pl-c2 /* carriage-return */ {
  color: var(--color-one-monokai-white) !important;
  background-color: var(--color-one-monokai-red) !important;
}

.pl-c2::before /* carriage-return */ {
  content: "^M";
}

.pl-token:hover {
    background-color: var(--color-one-monokai-dark-gray) !important;
}

.pl-sr .pl-cce /* string.regexp constant.character.escape */ {
  font-weight: bold;
  color: var(--color-prettylights-syntax-string-regexp); // #22863a;
}

.pl-ml /* markup.list */ {
  color: var(--color-prettylights-syntax-markup-list); // #735c0f;
}

.pl-mh /* markup.heading */,
.pl-mh .pl-en /* markup.heading entity.name */,
.pl-ms /* meta.separator */ {
  font-weight: bold;
  color: var(--color-one-monokai-yellow) !important
}

.pl-mi /* markup.italic */ {
  font-style: italic;
  color: var(--color-prettylights-syntax-markup-italic); // #24292e;
}

.pl-mb /* markup.bold */ {
  font-weight: bold;
  color: var(--color-prettylights-syntax-markup-bold); // #24292e;
}

.pl-md /* markup.deleted, meta.diff.header.from-file, punctuation.definition.deleted */ {
  color: var(--color-one-monokai-pink) !important;
}

.pl-mi1 /* markup.inserted, meta.diff.header.to-file, punctuation.definition.inserted */ {
  color: var(--color-one-monokai-green) !important;
}

.pl-mc /* markup.changed, punctuation.definition.changed */ {
  color: var(--color-one-monokai-yellow) !important;
}

.pl-mi2 /* markup.ignore, markup.untracked */ {
  color: var(--color-prettylights-syntax-markup-ignored-fg); // #f6f8fa;
  background-color: var(--color-prettylights-syntax-markup-ignored-bg); // #005cc5;
}

.pl-mdr /* meta.diff.range */ {
  font-weight: bold;
  color: var(--color-prettylights-syntax-meta-diff-range); // #6f42c1;
}

.pl-ba /* brackethighlighter.tag, brackethighlighter.curly, brackethighlighter.round, brackethighlighter.square, brackethighlighter.angle, brackethighlighter.quote */ {
  color: var(--color-one-monokai-pink) !important;
}

.pl-sg /* sublimelinter.gutter-mark */ {
  color: var(--color-prettylights-syntax-sublimelinter-gutter-mark); // #959da5;
}

.pl-corl /* constant.other.reference.link, string.other.link */ {
    text-decoration: underline;
    color: var(--color-one-monokai-aqua); // #032f62;
}

.pl-kos {
    color: var(--color-one-monokai-pink);
}
